<table class="mods_table" align="center">
    <tr>
        <th>Warframe Mods</th>
        <th>Weapon Mods</th>
    </tr>
    <tr>
        <td>
            <img src="https://image.ibb.co/hm8fXx/wf_mods_wf_wiki.png" title="Warframe Mods" onclick="location.href='/mods/warframe'">
        </td>
        <td>
            <img src="https://image.ibb.co/mu52Cx/weapon_mods_wf_wiki.png" title="Weapon Mods" onclick="location.href='/mods/weapon'">
        </td>
    </tr>
</table>

<p id="mods_paragraph_">
    Mods are essentially the upgrade system in WARFRAME in the
    form of special cards that can be equipped to Warframes,
    weapons, sentinels, Kubrows, and Archwings to enhance
    damage, power, survivability, speed, precepts, and utility.
    Mods can grant Passive Powers, Active Powers, Sentinel
    Precepts, and Utilities. Mods can be changed between items.
    There are around 842 mods existing in the game excluding Riven Mods.
</p>
