<div id ="mods_data">
    <h1 id="mods-view-header_"> <%= @mod.name %> </h1>
    <div id="image-and-text">
        <img id="mods-view-image_" src= <%= @mod.image_url %>  alt=<%= @mod.name %> title=<%= @mod.name %> >
    </div>
</div>
