<% @warframe.each do |warframe| %>
  <table id = "index_table" align = "center">
    <tr id = "index_tr">
        <th id = "index_th"><%= image_tag(warframe.image_url, width: '125' ,height: '181', id: 'mod-image') %><th>
        <th id = "index_th"><p class = "left_white"><%= link_to warframe.name, warframe %></p><th>
    </tr>
  </table>
<% end %>
