<% @weapon.each do |weapon| %>
    <div id="header-div">
        <img src="<%= weapon.image_url %>" id="mod-img" alt="<% weapon.name %>">
        <h1 onclick="location.href='/mods/weapon/<%= weapon.id %>'" id="weapon-h1"> <%= weapon.name %> </h1>
    </div>
<% end %>
