<% @weapon.each do |weapon| %>
  <table id = "index_table" align = "center">
    <tr id = "index_tr">
        <th id = "index_th"><%= image_tag(weapon.image_url, width: '125' ,height: '181', id: 'mod-image') %><th>
        <th id = "index_th"><p class = "left_white"><%= link_to weapon.name, weapon %></p><th>
    </tr>
  </table>
<% end %>
