<table id = "index_table" align = "center">
  <% @weapon.each do |weapon| %>
      <tr id = "index_tr">
          <th id = "index_th"><%= image_tag(weapon.image_url, width: '125' ,height: '181', id: 'mod-image') %><th>
          <th id = "index_th"><h2 class = 'white'><%= link_to weapon.name, weapon %></h2><th>
            <% if logged_in? && current_user.permissions  > 1 %>
              <th id = "index_th"><h2 class = 'white'><%= link_to "• Delete", weapon, method: :delete, data: { confirm: "You sure?"}%></h2></th>
            <% end %>
      </tr>
  <% end %>
</table>
<% if !logged_in? || current_user.permissions < 1 %>
  <%= render 'layouts/ads' %>
<% end %>
