<h1 class="white">Welcome to the admin panel.<h1>
<!-- <h2 style = "color:white;text-align:center">Choose a database to add information in:</h2>
<%= render 'shared/moderator' %> -->
<h2 class="white">Your permissions can be found in the Moderator Panel and the All Users panel.</h1>
