<% @lith.order("name ASC").each do |lith| %>
    <div id="header-div">
        <img src="<%= lith.image_url %>" id="relic-img" alt="<% lith.name %>">
        <h1 onclick="location.href='/relics/lith/<%= lith.id %>'" id="relics-h1"> <%= lith.name %> </h1>
        <% if logged_in? && current_user.permissions  > 1 %>
          <h2 style = "color: white; text-align: center; font-size:100%;"><%= link_to "• Delete", lith, method: :delete, data: { confirm: "You sure?"}%></h2>
        <% end %>
    </div>
<% end %>
<% if !logged_in? || current_user.permissions < 1 %>
    <div class="most-viewed small-left ad small">
        <img src="/images/corinth-ad.png" class="image-ad" title="the brand new corinth" alt="the brand new corinth" onclick="location.href='/weapons/primary/Corinth'">
    </div>
    <div class="most-viewed small-right ad small">
        <img src="/images/ember-ad.png" class="image-ad" title="hot singles near you" alt="hot singles near you" onclick="location.href='/warframes/Ember'">
    </div>
<% end %>
