<% @meso.each do |meso| %>
    <div id="header-div">
        <img src="<%= meso.image_url %>" id="relic-img" alt="<% meso.name %>">
        <h1 onclick="location.href='/relics/meso/<%= meso.id %>'" id="relics-h1"> <%= meso.name %> </h1>
    </div>
<% end %>
