<table class="relics_table" align="center">
    <tr>
        <th onclick="location.href='/relics/lith'">Lith</th>
        <th onclick="location.href='/relics/meso'">Meso</th>
        <th onclick="location.href='/relics/neo'">Neo</th>
        <th onclick="location.href='/relics/axi'">Axi</th>
    </tr>
    <tr>
        <td>
            <img src="https://image.ibb.co/eBhqXx/lith_wf_wiki.png" title="Lith Relics" onclick="location.href='/relics/lith'">
        </td>
        <td>
            <img src="https://image.ibb.co/msFusx/meso_wf_wiki.png" title="Meso Relics" onclick="location.href='/relics/meso'">
        </td>
        <td>
            <img src="https://image.ibb.co/gNQ5zc/neo_wf_wiki.png" title="Neo Relics" onclick="location.href='/relics/neo'">
        </td>
        <td>
            <img src="https://image.ibb.co/gb4b5H/axi_wf_wiki.png" title="Axi Relics" onclick="location.href='/relics/axi'">
        </td>
    </tr>
</table>

<p id="relics_paragraph_">
    Void Relics are Orokin objects that can be opened to reveal
    valuable treasure enclosed within by completing Void Fissure
    missions. They are the principal means of acquiring Prime
    and Forma Blueprints.
</p>
