<!-- <script type="text/javascript">
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() {
      $('#slideshow > div:first')
        .fadeOut(1000)
        .next()
        .fadeIn(1000)
        .end()
        .appendTo('#slideshow');
    },  3000);
</script>

<div id="slideshow">
    <div>
        <img src="https://n8k6e2y6.ssl.hwcdn.net/images/_newsImages/2017/Aug/22/HydroidPrime_1080p.jpg" style="width:640px;height:360px;">
    </div>

    <div>
        <img src="http://vignette99.wikia.nocookie.net/warframe/images/a/aa/PrimeTigris342.png/revision/latest?cb=20160820032128">
    </div>

    <div>
        <img src="http://vignette99.wikia.nocookie.net/warframe/images/b/b8/PrimedFlow.png/revision/latest?cb=20171007153729">
    </div>

    <div>
        <img src="https://questwftrading.files.wordpress.com/2016/08/img_0886-1.png?w=880">
    </div>
</div> -->
<script type="text/javascript">
    $(function(){
    $('.fadein img:gt(0)').hide();
    setInterval(function(){
        $('.fadein :first-child').fadeOut()
            .next('img').fadeIn()
            .end().appendTo('.fadein');},
            3000);
    });
</script>

<div class="fadein">
    <img src="https://n8k6e2y6.ssl.hwcdn.net/images/_newsImages/2017/Aug/22/HydroidPrime_1080p.jpg" style="width:640px;height:360px;" onclick="location.href='/warframes'">
    <img src="https://image.ibb.co/gcfbtS/warframe_Loot_Wiki_weapons.png" style="width:640px;height:360px;" onclick="location.href='/weapons'">
    <img src="https://image.ibb.co/byOqL7/warframe_Loot_Wiki_mods3.png" style="width:640px;height:360px;" onclick="location.href='/mods'">
    <img src="https://image.ibb.co/j6Dknn/warframe_Loot_Wiki_relics.png" style="width:640px;height:360px;" onclick="location.href='/relics'">
</div>
