<script type="text/javascript">
    $(function(){
    $('.fadein img:gt(0)').hide();
    setInterval(function(){
        $('.fadein :first-child').fadeOut()
            .next('img').fadeIn()
            .end().appendTo('.fadein');},
            5000);
    });
</script>

<h1 id="landing-page-header_" class = "white"> Welcome to WarframeLootWiki! </h1>


<div class="fadein">
    <img src="https://n8k6e2y6.ssl.hwcdn.net/images/_newsImages/2017/Aug/22/HydroidPrime_1080p.jpg" title="Warframes" onclick="location.href='/warframes'">
    <img src="https://image.ibb.co/gcfbtS/warframe_Loot_Wiki_weapons.png" title="Weapons" onclick="location.href='/weapons'">
    <img src="https://image.ibb.co/byOqL7/warframe_Loot_Wiki_mods3.png" title="Mods" onclick="location.href='/mods'">
    <img src="https://image.ibb.co/j6Dknn/warframe_Loot_Wiki_relics.png" title="Relics" onclick="location.href='/relics'">
</div>
<div class="shadow"></div>

<!-- <div id="eidolon-clock">
    <h1 id="clock">1hr 54m 14s</h1>
</div> -->

<p id="landing-page-paragraph_">
    Our mission is to help all Warframe players - from veterans to newbies.
</p>
