<% if current_user.permissions < 1 %>
    <h1 class = "center_white">Why Premium?</h1>

    <h2>With Premium you get the following benefits:</h2>

    <h2>No ads!</h2>

    <h2>Favourites!</h2>

    <h2>Eidolon Clock!</h2>

    <h4>All of that for only 4.99 EUR</h4>

    <div class="upgrade_button premium_page">
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6UFFDWE75M494">
            <input type="submit" value="Upgrade to premium" alt="PayPal - The safer, easier way to pay online!" class="button button1">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
<% else %>

    <h1>You already have Premium. Thank you for supporting us!</h1>

<%end%>
