<ul id = "moderator_ul">
  <li><a href = "/warframes/new">Warframes</a></li>
  <li><a href = "/weapons/new">Weapons</a></li>
  <li><a href = "/mods/new">Mods</a></li>
  <li><a href = "/relics/new">Relics</a></li>
</ul>
