<!-- This is a work in progress -->
<!-- <%= stylesheet_link_tag "warframe-view" %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WarframeLootWiki</title>
        <link rel="stylesheet" href="warframe-generic-view.css">
    </head>
    <body>
        <div class="warframe-image">
            <img src="https://vignette.wikia.nocookie.net/warframe/images/5/54/RhinoPrimeNewLook.png/revision/latest?cb=20141124023312" alt="warframe image">
        </div>

        <h1>Rhino Prime</h1>

        <p>
            Release Date: March 5th, 2014 <br> <br>
            Rhino Prime is the Primed variant of Rhino, possessing higher armor and sprint speed, as well as an additional Naramon polarity. <br> <br>
            On February 9th, 2016, it was announced that Rhino Prime would enter the Prime Vault and be retired from the reward tables on February
            16th, 2016. Any preexisting components or fully-built frames will remain as is. <br> <br>
            Rhino Prime along with Boar Prime, Dakra Prime, Mag Prime, Ankyros Prime, and Boltor Prime , was again accessible from June 27th, 2017 to August 1st, 2017.
        </p>

        <table id="drop-locations">
            <tr>
                <th>Blueprint</th>
                <th>Neuroptics</th>
                <th>Chassis</th>
                <th>Systems</th>
            </tr>
            <tr>
                <td>Axi R1 Rare</td>
                <td>Lith B1 Uncommon</td>
                <td>Meso M1 Uncommon</td>
                <td>Neo B3 Common</td>
            </tr>
        </table>

    </body>
</html> -->
