<!-- <div id="weapons_ul_div_">
    <ul class="weapons_ul_">
        <li class="weapons_li_">
            <a href="/weapons/primary">Primary Weapons</a>
        </li>
        <li class="weapons_li_">
            <a href="/weapons/secondary">Secondary Weapons</a>
        </li>
        <li class="weapons_li_">
            <a href="/weapons/melee">Melee Weapons</a>
        </li>
    </ul>
</div> -->

<table class="weapons_table" align="center">
    <tr>
        <th onclick="location.href='/weapons/primary'">Primary Weapons</th>
        <th onclick="location.href='/weapons/secondary'">Secondary Weapons</th>
        <th onclick="location.href='/weapons/melee'">Melee Weapons</th>
    </tr>
    <tr>
        <td>
            <img src="https://image.ibb.co/bWjy2x/boltor_prime_wf_wiki.png" title="Primary Weapons" onclick="location.href='/weapons/primary'">
        </td>
        <td>
            <img src="https://image.ibb.co/ecRp9c/euphona_prime_wf_wiki.png" title="Secondary Weapons" onclick="location.href='/weapons/secondary'">
        </td>
        <td>
            <img src="https://image.ibb.co/nw2U9c/nikana_prime_wf_wiki.png" title="Melee Weapons" onclick="location.href='/weapons/melee'">
        </td>
    </tr>
</table>

<!-- <table class="weapons_images" align="center">
    <tr>
        <td>
            <img src="https://image.ibb.co/bWjy2x/boltor_prime_wf_wiki.png" title="Primary Weapons" onclick="location.href='/weapons/primary'">
        </td>
        <td>
            <img src="https://image.ibb.co/ecRp9c/euphona_prime_wf_wiki.png" title="Secondary Weapons" onclick="location.href='/weapons/secondary'">
        </td>
        <td>
            <img src="https://image.ibb.co/nw2U9c/nikana_prime_wf_wiki.png" title="Melee Weapons" onclick="location.href='/weapons/melee'">
        </td>
    </tr>
</table> -->

<p id="weapons_paragraph_">
    Weapons are used by Warframes, Archwings, Sentinels and
    enemies in combat, to cause damage. Weapons can be leveled
    up for more mod capacity to apply more mods and increase
    capability. There are three main weapon types used by
    Warframes: Primary, Secondary, and Melee weapons.
</p>
