<p class = "center_white" style = "margin-top: 5%;">This site is about helping streamline the Warframe player experience.
</br>Our main goal is to provide every item's location and to help all players progress inthe game faster -
from newbies to veterans.<br>You can find the item you are looking for from the appropriate menu found via the navigation
bar. There you will find a detailed description accompanied by all the important stats and attributes.
<% if logged_in? && not_free? %> You can also find the most popular Warframes, Weapons and Mods in the
"Most popular" sections. These are determined by the community and reflect what gear is best at the moment.
Keeping up to date with the meta has never been easier.<% end %>
<br>If you want to help the development of the site you can upgrade to premium which also unlocks some exclusive features
such as the removal of ads, a helpful Eidolon clock and the addition of the "Most Popular" sections that will help you
navigate the meta game faster than ever.
<br>Happy grinding Tenno.<br><br>For feedback or questions you can contact us at WarframeLootWiki@gmail.com</p>
