/*
*=require_tree .
*=require_self
*/


.search-bar{
  margin-left: 4%;
}
.white{
  color:white;
}
.left_white{
  color:white;
  text-align: left;
  align-items: center;
  font-size: 150%;

}

.center_white{
  color:white;
  text-align: center;
}

body {
    background-color: #1e1e1e;
    font-family: "Lato";
}

#flash{
  color: black;
}

a{
  color: white;
  text-decoration: none;
}

#button{
  margin-top: 1%;
}

#current_user_navbar{
  text-align: left;
}
.no_line li a:hover{
  text-decoration: none;
  color: white;
  background-color: #111;
}
.favorites_button{
  width: 20%;
  height: 20%;
  text-align: center;
  margin-left: 40%;
  margin-right: 20%;
}
