/*
*=require_tree .
*=require_self
*/
html, body {
	font-family: 'Lato';
	color: white;
}

// .search_bar {
// 	margin-left: 4%;
// }

.white {
	color: white;
}

.left_white {
	font-size: 150%;
	text-align: left;
	color: white;
	align-items: center;
}

.center_white {
	text-align: center;
	color: white;
}

body {
	font-family: 'Lato';
	background-color: #1e1e1e;
}

#flash {
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

#button {
	margin-top: 1%;
}

#current_user_navbar {
	text-align: left;
}

.no_line li a:hover {
	text-decoration: none;
	color: white;
	background-color: #111111;
}

.favorites_button {
	width: 20%;
	height: 20%;
	margin-right: 20%;
	margin-left: 40%;
	text-align: center;
}

.favorites_button_center {
	width: 20%;
	height: 20%;
	margin-right: 20%;
	margin-left: 37.6%;
	margin-top: 1%;
	text-align: center;
}
