ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*position: fixed;*/
    width: 100%;
}

/*li {
    float: left;
}*/

.droppbtn {
    /* margin-right: 5%; */
    list-style-type: none;
    display: inline-block;
    text-shadow: 1px 1px black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
}
#sign{
  float:right;
  margin-right: 3%;
}
.logoo {
    float: left;
    margin-top: 0.5%;
    margin-left: 10px;
    text-align: center;
    padding: 0 5px;
    font-size: 20px;
    text-shadow: 2px 2px black;
    /*padding: 15px 20px;*/
    font-family: "Lato";
    color: #e0e0e0;
}

.logoo:hover {
    background-color: #111;
}

#landing-page-paragraph_ {
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 17px;
}

/*
.logo {
    background-color:#fff;
}

span {
    background-color: #333;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
}*/

li {
    font-family: "Lato";
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    color: white;
    text-decoration: none;
}

.navv{
    text-align:center;
}
.navv li{
    display:inline;
}
.navv a{
    display:inline-block;
}

li.droppdown {
    font-size: 13pt;
    padding: 9px 0;
    display: inline-block;
}

.droppdown-content {
    display: none;
    position: absolute;
    background-color: #e0e0e0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height:500px;/* you can change as you need it */
    overflow:auto;
}

.droppdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.droppdown-content a:hover {
    background-color: #bdbdbd;
}

.droppdown:hover .droppdown-content {
    display: block;
}

.fadein {
    margin: 5% auto;
    position: relative;
    width: 640px;
    height: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.fadein img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 360px;
    left: 0;
    top: 0;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#landing-page-header_ {
    text-align: center;
    text-shadow: 3px 2px black;
}

/* .landing-page-div_ {
    position: relative;
    display: inline-block;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
}

.landing-page-span_ {
    color: white;
    margin-bottom: 5px;
}

.landing-page-names-span_ {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-bottom: 2%;
    margin-left: 5%;
    font-size: 20px;
    background: rgba(0,0,0,0.6);
    padding: 0px 2px;
    line-height: 15px;
} */

/* #slideshow {
    margin: 50px auto;
    position: relative;
    width: 700px;
    height: 420px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
} */
