// Place all the styles related to the Mods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mods_table {
    margin-top: 5%;
    width: 83.5%;
    // border: 1px solid black;
    text-align: center;
}

.mods_table td {
    padding: 1%;
}

.mods_table th {
    background-color: #333;
    padding: 1%;
    color: white;
    font-family: "Lato";
    padding: 2%;
    font-size: 250%;
    text-shadow: 2px 2px black;
    text-align: center;
    border-right: 2px solid #111;
}

.mods_table th:last-child {
    border-right: none;
}

.mods_table td:hover {
    cursor: pointer;
    // background-color: #111;
}

.mods_table th:hover {
    cursor: pointer;
    background-color: #111;
}

.mods_table img {
    width: 60%;
}

#mods_paragraph_ {
    margin-top: 4%;
    text-align: center;
    color: white;
}

#mods-view-header_
{
    font-size: 50px;

    text-align: center;

    text-shadow: 2px 2px black;
}

#mods-view-image_
{
    display: block;

    width: 20%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    background-color: #333;
}

#weapon-h1
{
    display: inline-block;

    cursor: pointer;
    text-align: center;
}

#header-div
{
    display: block;

    text-align: center;
}
