// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_bar {
    width: 10%;
}

li:nth-child(2) {
    margin-left: 6%;
}
