// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #333333;
}

#profile-picture {
	display: inline;
	padding-left: 2rem;
}

.profile-picture-img {
	width: 3.2rem;
}

.droppbtn {
	display: inline-block;
	list-style-type: none;
	text-shadow: 1px 1px black;
	// margin-top: 1%;
	margin-bottom: -3%;
}

li a {
	display: block;
	padding: 0.6rem 3rem;
	text-align: center;
	text-decoration: none;
	color: white;
}

#sign {
	float: right;
	margin-right: 2%;
}

.logoo {
	font-size: 2rem;
	float: left;
	margin-top: 0.7%;
	margin-left: 1rem;
	padding: 0 0.6rem;
	text-align: center;
	color: #e0e0e0;
	text-shadow: 2px 2px black;
}

.logoo:hover {
	background-color: #111111;
}

#landing-page-paragraph_ {
	font-size: 1.6rem;
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
}

#landing_li a:hover {
	color: white;
	text-decoration: none;
	background-color: #111111;
}

.navv {
	text-align: center;
}

.navv li {
	display: inline;
}

.navv a {
	display: inline-block;
}

li.droppdown {
	font-size: 1.8rem;
	display: inline-block;
	padding: 1rem 0;
}

.droppdown-content {
	position: absolute;
	z-index: 1;
	display: none;
	overflow: auto;
	min-width: 16rem;
	max-height: 50rem;
	background-color: #e0e0e0;
	box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.2);
}

.droppdown-content a {
	padding: 1.2rem 1.6rem;
	text-decoration: none;
	text-align: left;
	display: block;
	color: black;
}

.droppdown-content a:hover {
	background-color: #bdbdbd;
}

.droppdown:hover .droppdown-content {
	display: block;
}

.fadein {
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
	position: relative;
	margin: 5% auto;
	height: 36rem;
	width: 64rem;
}

#current_user_navbar:hover {
	background-color: #111111;
}

#current_user_navbar {
	text-decoration: none;
	color: white;
}

.fadein img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 64rem;
	height: 36rem;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 20rem rgba(0, 0, 0, 0.9) inset;
}

#landing-page-header_ {
	text-align: center;
	margin-top: 4rem;
	color: white;
	text-shadow: 0.3rem 0.2rem black;
}

#all_users_li {
	font-size: 1.5rem;
	margin: auto;
}

#user_image_all {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

#users_ul {
	width: 50%;
	margin: auto;
	text-align: center;
}

#paginate {
	text-align: center;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	cursor: pointer;
	color: white;
	border-color: #111111;
	background-color: #333333;
}

.pagination > li > a, .pagination > li > span {
	line-height: 1.428571429;
	position: relative;
	float: left;
	margin-left: -1px;
	padding: 6px 12px;
	text-decoration: none;
	color: black;
	border: 1px solid #dddddd;
	background-color: white;
}

#index_table {
	width: 70%;
	alignment: center;
}

#index_th {
	padding-top: 2%;
	text-align: left;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
}

#index_th a:hover {
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #555555;
}

#user_show aside {
	section.user_info {
		margin-top: 2.0rem;
	}
	section {
		margin-top: 2.0rem;
		padding: 1rem 0;
		&:first-child {
			padding-top: 0;
			border: 0;
		}
		span {
			line-height: 1;
			display: block;
			margin-bottom: 3px;
		}
		h1 {
			font-size: 1.4em;
			margin-top: 0;
			margin-bottom: 3px;
			text-align: left;
			letter-spacing: -1px;
			color: white;
		}
	}
}

#profile_name {
	text-align: center;
	color: white;
	alignment: center;
}

#profile_picture {
	margin-bottom: 5%;
}

#show_table {
	width: 100%;
}

#show_th {
	padding-top: 5%;
	padding-right: 0;
	text-align: center;
	text-decoration: none;
	color: white;
}
#show_th a:hover {
	color: white;
	text-decoration: none;
	background-color: #555555;
}

// #eidolon-clock
// {
//     position: absolute;
//     width: 20%;
//     height: 13%;
//     top: 50%;
//     left: 3%;
//     background-color: #111;
//     border-style: solid;
//     border-width: 0.2rem;
//     border-color: white;
// }

.upgrade_button {
	display: inline-block;
	margin-left: 7%;
	margin-top: 1%;
}

.button {
	border: none;
	color: white;
	padding: 1.2rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0.4rem 0.2rem;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	cursor: pointer;
	// margin-left: 7.5%;
	// margin-top: 1%;
}

.button1 {
	text-align: center;
	background-color: #333333;
	border: none;
}

.button1:hover {
	text-decoration: none;
	background-color: #444444;
}

h2, h3, h4, h5, h6 {
	text-align: center;
}

.premium_page {
	margin: 0 auto;
	display: block;
	width: 17%;
}

// Containers for most viewed / ad panels
.most-viewed {
	// background-color: #333333;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3) inset;
    border: 0.5rem solid #333;
	position: absolute;
	width: 17.5rem;
	height: 40rem;
	top: 29.7%;
}

.left {
	left: 6.5%;
}

.right {
	left: 80.5%;
}

// .most-viewed-bot img{
// 	width: 10%;
// 	height: 10%;
// }
// .most-viewed-bot {
// 	margin-left: 22.5%;
// 	align-items: center;
// 	position: absolute;
// 	top: 70.5%;
// 	// box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3) inset;
// 	// border: 0.5rem solid #333;
// }

// .most-viewed-bot ul{
// 	text-align: center;
// 	// // display:flex;
//  // 	list-style:none;
// }
//
// .most-viewed-bot ul.images {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-direction: row;
//   width: 900px;
//   overflow-x: auto;
// 	top: 90.5%;
// 	position: absolute;
// }

// .most-viewed-bot ul.images li {
//   flex: 0 0 auto;
//   width: 150px;
//   height: 150px;
// }
// .most-viewed-bot ul.images li img {
// 	width: 124px;
// 	height: 150px;
// }
//
// .most-viewed-bot{
// 	margin-left: 30%;
// }
.most-popular-header {
    font-size: 1.8rem;
}

.most-popular-image {
    position: relative;
    background-color: #1e1e1e;
    width: 100%;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3) inset;
    // border: 0.5rem solid #333;
}

.warframe {
    -webkit-clip-path: inset(0 0 66.5% 0);
            clip-path: inset(0 0 66.5% 0);
}

.weapon {
}

.first {
    border-top: 0.5rem solid #333;
    // border-top: none;
    position: absolute;
    top: 17.5%;
}

.second {
    border-top: 0.5rem solid #333;
    position: absolute;
    top: 45%;
}

.third {
    border-top: 0.5rem solid #333;
    position: absolute;
    top: 72.5%;
}

.third-weapon {
    border-top: 0.5rem solid #333;
    border-bottom: none;
    position: absolute;
    top: 73%;
}
