
#all_users_li{
  font-size: 15px;
}
#user_image_all{
  display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
#users_ul{
  width:50%;
  text-align: center;
  margin:auto;
}
#paginate{
  text-align: center;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color:#333;
  border-color:#111;
  color:white;
  cursor:pointer;
  z-index:2;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid #ddd;
    margin-left: -1px;
}
