
#all_users_li{
  font-size: 15px;
}
#user_image_all{
  display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
#users_ul{
  width:50%;
  text-align: center;
  margin:auto;
}
#paginate{
  text-align: center;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color:#111;
  border-color:#333;
  color:white;
  cursor:pointer;
  z-index:2;
}
