// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul
{
    overflow: hidden;
    /*position: fixed;*/

    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #333;
}

#profile-picture
{
    display: inline;
    // margin-right: 5px;
}

/*li {
    float: left;
}*/

.droppbtn
{
    display: inline-block;
    /* margin-right: 5%; */

    list-style-type: none;

    text-shadow: 1px 1px black;
}

li a
{
    display: block;

    padding: 5px 25px;

    text-align: center;
    text-decoration: none;

    color: white;
}
#sign
{
    float: right;

    margin-right: 3%;
}
/*navbar */
.logoo
{
    /*padding: 15px 20px;*/
    font-family: 'Lato';
    font-size: 20px;

    float: left;

    margin-top: .5%;
    margin-left: 10px;
    padding: 0 5px;

    text-align: center;

    color: #e0e0e0;
    text-shadow: 2px 2px black;
}

.logoo:hover
{
    background-color: #111;
}

#landing-page-paragraph_
{
    font-size: 17px;

    text-align: center;

    color: white;
    text-shadow: 1px 1px black;
}

/*
.logo {
    background-color:#fff;
}

span {
    background-color: #333;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
}*/

#landing_li
{
    font-family: 'Lato';
}

/* Change the link color to #111 (black) on hover */
#landing_li a:hover
{
    text-decoration: none;

    color: white;
    background-color: #111;
}

.navv
{
    text-align: center;
}
.navv li
{
    display: inline;
}
.navv a
{
    display: inline-block;
}

li.droppdown
{
    font-size: 13pt;

    display: inline-block;

    padding: 9px 0;
}

.droppdown-content
{
    position: absolute;
    z-index: 1;

    display: none;
    overflow: auto;

    min-width: 160px;
    max-height: 500px;/* you can change as you need it */

    background-color: #e0e0e0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.droppdown-content a
{
    display: block;

    padding: 12px 16px;

    text-align: left;
    text-decoration: none;

    color: black;
}

.droppdown-content a:hover
{
    background-color: #bdbdbd;
}

.droppdown:hover .droppdown-content
{
    display: block;
}

.fadein
{
    position: relative;

    width: 640px;
    height: 360px;
    margin: 5% auto;

    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

/* #slideshow {
    margin: 5% auto;
    position: relative;
    width: 640px;
    height: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#slideshow img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 360px;
    left: 0;
    top: 0;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
} */
#current_user_navbar:hover
{
    background-color: #111;
}
#current_user_navbar
{
    text-decoration: none;

    color: white;
}
.fadein img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 640px;
    height: 360px;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0 0 200px rgba(0, 0, 0, .9) inset;
}

#landing-page-header_
{
    text-align: center;

    color: white;
    text-shadow: 3px 2px black;
}

/* Index.html.erb of User */
#all_users_li
{
    /* float: left; */
    font-size: 15px;

    margin: auto;
    /* display: inline-block; */
}

#user_image_all
{
    width: 50%;
    margin-right: auto;
    /* display: inline; */
    /* float: left; */
    margin-left: auto;
}

/* #user_image_ {
    float: left;
} */

/* #username_ {
    display: block;
    margin-left: 25%;
    float: right;
} */

/* .users {
    float: left;
} */

#users_ul
{
    width: 50%;
    margin: auto;

    text-align: center;
    /* float: left; */
}

#paginate
{
    text-align: center;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
    z-index: 2;

    cursor: pointer;

    color: white;
    border-color: #111;
    background-color: #333;
}

.pagination > li > a,
.pagination > li > span
{
    line-height: 1.428571429;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 6px 12px;

    text-decoration: none;

    color: black;
    border: 1px solid #ddd;
    background-color: white;
}

#index_table
{
    width: 70%;

    alignment: center;
}

#index_th
{
    padding-top: 2%;

    text-align: left;
    text-decoration: none;

    color: white;
    border-bottom: 1px solid white;
}
#index_th a:hover
{
    text-align: center;
    text-decoration: none;

    color: white;
    background-color: #555;
}
/*Show.html.erb of User */

#user_show aside
{
    section.user_info
    {
        margin-top: 20px;
    }
    section
    {
        margin-top: 20px;
        padding: 10px 0;
        &:first-child
        {
            padding-top: 0;

            border: 0;
        }
        span
        {
            line-height: 1;

            display: block;

            margin-bottom: 3px;
        }
        h1
        {
            font-size: 1.4em;

            margin-top: 0;
            margin-bottom: 3px;

            text-align: left;
            letter-spacing: -1px;

            color: white;
        }
    }
}
#profile_name
{
    text-align: center;

    color: white;

    alignment: center;
}
#show_table
{
    width: 100%;
}
#show_th
{
    padding-top: 5%;
    padding-right: 0;

    text-align: center;
    text-decoration: none;

    color: white;
}
#show_th a:hover
{
    text-decoration: none;

    color: white;
    background-color: #555;
}

#eidolon-clock
{
    position: fixed;
    width: 20%;
    height: 50%;

    background-color: #333;
}
