// Place all the styles related to the Weapons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#weapons_ul_div_
{
    display: table;

    margin: 0 auto;
    margin-left: 4%;
}

.weapons_ul_
{
    overflow: hidden;

    margin: 5%;

    list-style-type: none;

    text-shadow: 2px 2px black;
}

.weapons_li_:hover
{
    background-color: #111;
}

.weapons_li_
{
    display: inline-block;
    float: left;

    text-align: center;
}

.weapons_li_ a
{
    font-size: 250%;

    display: inline-block;

    padding: 16px;

    text-align: center;
    text-decoration: none;

    color: white;
}

/////////////////////////////////

// #weapons_images_ul_div_ {
//     display: table;
//     margin: 0 auto;
//     margin-left: 4%;
// }

// .weapons_images_ul_ {
//     list-style-type: none;
//     margin: 5%;
//     overflow: hidden;
//     text-shadow: 2px 2px black;
// }

// .weapons_images_li_:hover {
//     background-color: #111;
// }

// .weapons_images_li_ {
//     float: left;
//     display: inline-block;
//     text-align: center;
// }

// .weapons_images_li_ a {
//     font-size: 250%;
//     display: inline-block;
//     color: white;
//     text-align: center;
//     padding: 16px;
//     text-decoration: none;
// }

// .weapons_images_li_ img {
//     width: 25%;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

// .weapons_images {
//     width: 83.5%;
//     // border: 1px solid black;
//     text-align: center;
// }
//
// .weapons_images td {
//     padding: 1%;
// }
//
// .weapons_images td:hover {
//     cursor: pointer;
//     background-color: #111;
// }
//
// .weapons_images img {
//     width: 75%;
// }

.weapons_table
{
    margin-top: 5%;
    // width: 83.5%;
    // border: 1px solid black;

    text-align: center;
}

.weapons_table td
{
    padding: 1%;
}

.weapons_table th
{
    font-family: 'Lato';
    font-size: 200%;

    padding: 1%;
    padding: 2%;

    text-align: center;

    color: white;
    background-color: #333;
    text-shadow: 2px 2px black;
}

.weapons_table td:hover
{
    cursor: pointer;

    background-color: #111;
}

.weapons_table th:hover
{
    cursor: pointer;

    background-color: #111;
}

.weapons_table img
{
    width: 75%;
}

#weapons_paragraph_
{
    margin-top: 4%;

    text-align: center;

    color: white;
}


#weapon-view-header_
{
    font-size: 50px;

    text-align: center;

    text-shadow: 2px 2px black;
}

#weapon-view-image_
{
    display: block;

    width: 25%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1%;
    padding-left: 1%;

    background-color: #333;
}

#weapon-view-stats-div_
{
    display: inline-block;

    width: 25%;
    // margin-top: 2%;
    padding-right: 1%;
    padding-left: 1%;

    text-align: left;

    background-color: #333;
}

.weapon-view-stats_
{
    padding: 3%;

    color: white;
    background-color: #111;
}

#weapon-view-wrapper_
{
    text-align: center;
}

#weapon-h1
{
    display: inline-block;

    cursor: pointer;
    text-align: center;
}

#header-div
{
    display: block;

    text-align: center;
}
