<div class="most-viewed left ad">
    <img src="/images/corinth-ad.png" class="image-ad" title="the brand new corinth" alt="the brand new corinth" onclick="location.href='/weapons/primary/Corinth'">
</div>
<div class="most-viewed right ad">
    <img src="/images/ember-ad.png" class="image-ad" title="hot singles near you" alt="hot singles near you" onclick="location.href='/warframes/Ember'">
</div>
